<div class="container">
  <h4>Usage of Skills</h4>
  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="Bar">
      <ngx-charts-bar-horizontal
        [scheme]="colorScheme"
        [results]="getPartialChartData(4)"
        [yAxis]="true"
        [xScaleMax]="100"
        [xAxis]="true"
      [showDataLabel]="true">
      </ngx-charts-bar-horizontal>
    </mat-tab>
    <mat-tab label="All skills">
      <mat-chip-list>
        <mat-chip color="primary" *ngFor="let skill of chartData">{{ skill.name }}
          - {{ skill.value.toFixed(0) }}%
        </mat-chip>
      </mat-chip-list>
    </mat-tab>
  </mat-tab-group>
</div>
