<div class="container" #Container (window:resize)="onResize(Container.getBoundingClientRect().width)">
  <div *ngIf="chartData.length === 0; else showChart">
    No skills used for this project.
  </div>
  <ng-template #showChart>
    <mat-tab-group mat-align-tabs="center">
      <mat-tab label="Top 4 skills">
        <div>
          <ngx-charts-bar-horizontal
            [scheme]="colorScheme"
            [results]="getPartialChartData(4)"
            [view]="view"
            [yAxis]="true"
            [xScaleMax]="100"
            [xAxis]="true">
          </ngx-charts-bar-horizontal>
        </div>
      </mat-tab>
      <mat-tab label="All skills">
        <mat-chip-list>
          <mat-chip color="primary" *ngFor="let skill of chartData">
            {{ skill.name }} - {{ skill.value.toFixed(0) }}%
          </mat-chip>
        </mat-chip-list>
      </mat-tab>
    </mat-tab-group>
  </ng-template>
</div>
