<div class="container">
  <mat-card>
    <mat-card-content>
      <mat-card-header>
        <h2>fancy graphic 1</h2>
      </mat-card-header>
      <ngx-charts-pie-chart
        [view]="view"
        [scheme]="colorScheme"
        [results]="chartData">
      </ngx-charts-pie-chart>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-content>
      <mat-card-header>
        <h2>fancy graphic 1</h2>
      </mat-card-header>
      <ngx-charts-number-card
        [view]="view"
        [scheme]="colorScheme"
        [results]="chartData">
      </ngx-charts-number-card>
    </mat-card-content>
  </mat-card>
</div>
