@import '../../../variables';

:host {
  width: 100%;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.project-card {
  max-width: 30em;
  margin: 1em;
  flex: 1 1 30em;

  &:hover {
    cursor: pointer;
    box-shadow: 0.5em 0.5em 0.5em 0 $zuehlke_accent;
  }

  .project-image {
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    height: 20em;
    background-position: 50% 50%;
  }
}

.mat-card-header {
  justify-content: space-between;
}

.mat-card-title {
  color: $zuehlke_primary;
}

.mat-card-subtitle {
  color: $zuehlke_accent;
}


.employee-number {
  display: flex;
  align-items: center;

  .mat-icon {
    margin-right: 0.25em
  }
}
