@import '../../../variables';

.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
}

.table-container {
  display: flex;
  flex-direction: column;
}

th {
  background-color: $zuehlke_primary;
  color: white;
  font-weight: bold;
}


a {
  text-decoration: none;
  color: $zuehlke_accent;
}
